<div>

<h1><span style="font-size:16px">Headmaster&#39;s Welcome</span></h1>



<p style="text-align: justify;"><span style="font-size:14px"><img alt="" src="/static/img/content_HM.jpg" style="float:left; height:136px; margin-left:5px; margin-right:5px; width:150px" /></span>Judged by Ofsted as &ldquo;Outstanding&rdquo; in March 2014, St Olave&rsquo;s enjoys a reputation as one of the finest Grammar Schools in the country with a broad focus on scholarship combined with cultural enrichment, within a supportive community. We were delighted when one of our students won the Student of the Year 2015 award and to receive, more recently, the Evening Standard School of the Year 2015. We celebrate and build on a long and distinguished history, combining innovation, high academic and extra-curricular achievements with the best traditions of English education.</p>



<p>Our outstanding record of academic excellence consistently showing around 95% of A level results at A*/B grades, places the school amongst the nation&rsquo;s top 3 Grammar Schools. Over the last 7 years over 200 students have taken up Oxbridge places, continuing the tradition of the top two leavers&rsquo; destinations for Olavians being the universities of Cambridge and Oxford. Even in the context of St Olave&#39;s, 2016 has been astonishingly successful with 40 Oxbridge offers and 27 for Medicine.&nbsp;We try to locate academic excellence within the broader concept of true scholarship, encouraging all of our students to become independent thinkers, engaging critically in the learning process through a vibrant approach to intellectual curiosity.</p>



<p>Olavians are interesting people who enjoy a variety of cultural experiences alongside their academic pursuits. Music, Chess, Drama, Debating, Amnesty International, Duke of Edinburgh Award, STEP Maths club, Student Leadership, are just a few of the wide range of extra-curricular opportunities available at St Olave&rsquo;s, and we expect every one of our students to get involved in some of these so that their lives are culturally enriched. Recently students have experienced foreign exchanges in Paris, Boulogne, Berlin, Heidelberg and Murcia; Field Trips as far apart as Malham and Iceland; Classical studies in Greece, a Politics and Economics trip to New York and Washington; World Challenge expeditions to Botswana, Namibia and Ecuador, Tanzania and Costa Rica; a Rugby Tour to Argentina and a Cricket tour to Antigua.</p>



<p>The Sunday Times &ldquo;State Secondary School of the Year&rdquo; 2009, and listed by Her Majesty&#39;s Chief Inspector of Schools as &quot;An outstanding provider of education..&quot;,&nbsp;</p>

<img alt="" src="/static/img/content_HRH_The_Queen_Savoy_Chapel_129.JPG" style="line-height: 20.8px; float: right; height: 163px; margin-left: 5px; margin-right: 5px; width: 179px;" />

<p>St Olave&#39;s is variously described as &quot;One of the state schools&#39; elite&quot; (The Independent) and as &ldquo;A school which aims for excellence in everything it does... and succeeds.&quot; (The Daily Telegraph)</p>



<p>We are a Voluntary Aided selective school which admits 4 forms of entry of boys at age 11, from a wide variety of backgrounds across a broad area of South London, and takes both boys and girls into the Sixth Form. Each year 4 choral scholars are admitted, providing the trebles for The Queen&rsquo;s Chapel at The Savoy &ndash; part of the school&rsquo;s rich cultural heritage and a link with its historic origins near London Bridge where it was originally founded in 1561 and later given a Royal Charter by Queen Elizabeth I in 1571.</p>



<p>St Olave&rsquo;s provides a secure, happy and stimulating environment, with a strong ethos of care and courtesy and a warm community feel. In this atmosphere our students can grow and flourish, making the very best of their talents to achieve success and not being afraid to chase their dreams.</p>



<p><img alt="" src="/uploads/ckeditor/pictures/28/content_Head_sig.JPG" style="height:65px; width:112px" /></p>



<p><span style="font-size:14px">Mr. A. &Ouml;na&ccedil;</span></p>



<p><span style="font-size:14px">Headmaster</span></p>



<p>&nbsp;</p>

</div>

