</div>
<div  id="sub_page_content" >
	
  <h1 style="text-align:justify"><span style="font-size:16px">The Olavian Community</span></h1>



<p style="text-align:justify"><span style="font-size:14px"><img alt="" src="/uploads/ckeditor/pictures/218/content_450_Ann_-_2.JPG" style="float:left; height:100px; margin:0px 5px; width:150px" /></span></p>



<p style="text-align:justify"><span style="font-size:14px">The wider Olavian Community includes everyone currently or previously associated with the school; parents, pupils, staff and Governors all play their role in shaping the school.</span></p>



<p style="text-align:justify"><span style="font-size:14px">Over the years and from one school site to another, the community has grown in number and diversity, with each individual connected to each other through their link to the school. Various mechanisms now exist to enable new members to become involved and old members to stay in touch.</span></p>



<p style="text-align:justify"><span style="font-size:14px">Via the links on the left you can learn more about each group.</span></p>



<ul>

	<li style="text-align:justify"><span style="font-size:14px"><strong>The Olavian Magazine</strong> is the school&#39;s document of record. It has been in near continuous production for well over a century and illustrates the scale and diversity of the activities taking place each year.</span></li>

	<li style="text-align:justify"><span style="font-size:14px"><strong>The&nbsp;Parents&#39; Association</strong>&nbsp;is a energetic and enthusiastic group of parents, who organise a wide range of fund-raising and social events throughout the year.</span></li>

	<li style="text-align:justify"><span style="font-size:14px"><strong>The Old Olavians</strong>&nbsp;society exists for the benefit of former staff and students. It was founded in 1882 and continues to organsie a number of events and activities each year. The Society regularly updates its&nbsp;Facebook page&nbsp;</span><a href="http://www.linkedin.com/redir/redirect?url=https%3A%2F%2Fwww%2Efacebook%2Ecom%2FOldOlavians%2F&amp;urlhash=2CxB&amp;_t=tracking_anet" target="_blank">https://www.facebook.com/OldOlavians</a>&nbsp;<span style="font-size:14px;">with future events and photos from those events to ensure as many Old Olavians can keep in touch.</span></li>

</ul>



<p style="text-align:justify">&nbsp;</p>

 

<div style="clear:both"></div>

